<h1>Here is a list of all events happening right now!</h1>
<% @events.each do |event| %>
    <p>Name: <%= event.name %></p>
    <p>Date of Event: <%= event.date %></p>
    <p>Location: <%= event.location %></p>
<% end %>
