<h1>Here is the Details for the Event:</h1>

<ul>
    <li>
        Name: <%= @event.name %>
    </li>
    <li>
        Date of Event: <%= @event.date %>
    </li>
    <li>
        Location of Event: <%= @event.location %>
    </li>
</ul>