<h1>Here is the Details for the Event:</h1>

<ul>
    <li>
        Name: <%= @event.name %>
    </li>
    <li>
        Date of Event: <%= @event.date %>
    </li>
    <li>
        Location of Event: <%= @event.location %>
    </li>
</ul>
<h1>List of Attendees:</h1>
<% @event.event_attendees.each do |attendee| %>
        <ul>
        <li><h2 class = 'font-weight-bolder'><%= attendee.email %></h2></li>
        </ul>
<% end %>
