<footer class="text-white">
  <div class="text-center">
    <small>Copyright &copy; <%= link_to "Joshua Burger", "https://jburger69.github.io/Portfolio/", class: "text-white" %></small>
  </div>
</footer>